<!-- Copyright 2017-2020 Emanuel Covaci, Rares Istoc-->
<!---->
<!-- This file is part of Transport Network.-->
<!---->
<!-- Transport Network is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- Transport Network is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with Transport Network.  If not, see <http://www.gnu.org/licenses/>.-->
<!DOCTYPE html>
<html lang="en-US">
  <head>
        {% load staticfiles %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BODALM</title>
    <meta name="description" content="Your portfolio page description"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link href="{% static "blog/styles/main.css"%}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- CSS  -->

  <link href="{% static "public/css/materialize.css" type="text/css"%}" rel="stylesheet" media="screen,projection"/>

  </head>
  <body id="top">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>

        <header style="background-color:#a64dff !important;" class="mdl-layout__header mdl-layout__header--waterfall site-header ">

        <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
                 <div>
                               <a href="/" >
                      <img src="{% static "public/logo_white.png" %}" alt="logo" style="height:40px; width: 100% color: white"/>
                               </a>

                 </div>
          <div class="mdl-navigation mdl-typography--body-1-force-preferred-font">

              <a class="mdl-navigation__link" href="/">Acasa</a>
              <a class="mdl-navigation__link" href="/intern">Transport intern</a>
              <a class="mdl-navigation__link" href="/adr">Transport ADR</a>
              <a class="mdl-navigation__link" href="/frigorific">Frigorific</a>
              {% if not album_page and not photos_page %}
              <a class="mdl-navigation__link" href="/galerie">Galerie</a>
              {% endif %}

          </div>
            <a class="mdl-navigation__link" href="/contact">Contact</a>

        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav   style="background-color:#a64dff !important;" class="mdl-navigation mdl-typography--body-1-force-preferred-font">
          <a class="mdl-navigation__link" href="/">Acasa</a>
              <a class="mdl-navigation__link" href="/intern">Transport intern</a>
              <a class="mdl-navigation__link" href="/adr">Transport ADR</a>
              <a class="mdl-navigation__link" href="/frigorific">Frigorific</a>
            <a class="mdl-navigation__link" href="/galerie">Galerie</a>
              <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
      </div>


          {% block content %}
  {% endblock %}

         <footer  style="background-color:#a64dff !important;" class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SC BODALM SRL</h5>
          <p class="white-text">
           Adresa: Com. Liebling, jud.Timis, Romania
          </p>
          <p class="white-text">
            Email: bodalmtrans@yahoo.com
          </p>
          <p class="white-text">
            Registrul Comertului: J35/113/2001
          </p>
          <p class="white-text">
            CUI : RO13688948
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Telefon</h5>
          <ul>
            <li><a class="white-text" href="#!"> +40723323743 </a></li>
            <li><a class="white-text" href="#!"> 0256396555 </a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Cere oferta</h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="/contact">Completeaza aici</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright © 2017 Toate drepturile rezervate. Dezvoltat de
        <a style="color: whitesmoke" href="https://github.com/emanuelcovaci">Emanuel Covaci, </a>
        <a style="color: whitesmoke" href="https://github.com/SoftMandar">Rares Istoc</a>
      </div>
    </div>
  </footer>
      </main>
      <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
    </div>
  </body>
</html>