{% extends "base_post.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}


      <main class="mdl-layout__content">
        <div class="site-content">
          <div class="mdl-grid site-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
              <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Contact</h1>
              </div>
              <div class="mdl-card__media"><img class="article-image" src="{% static "public/contact.jpg"%}" border="0" alt="Contact">
              </div>
              <div class="mdl-grid site-copy">
                <div class="mdl-cell mdl-cell--12-col"><div class="mdl-card__supporting-text">
  <p>Contact our team using the contact form below:</p>
  <form method="POST" class="form-contact" role="form" action="{% url 'contact:contact' %}">
     {% csrf_token %}

<!---->
      {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            <strong>Success!</strong> {{ message}}
            {% endfor %}
        </div>

   {% endif %}


      <div class="mdl-textfield mdl-js-textfield ">
           {{ form.sender_name|add_class:"mdl-textfield__input" }}

          <label class="mdl-textfield__label" for="Name">Name...</label>

           {% if form.sender_name.errors %}
                <div class="alert alert-danger">
                    {% for error in form.sender_name.errors %}
                     {{ error }}
                    {% endfor %}
                </div>
          {% endif %}

      </div>


      <div class="mdl-textfield mdl-js-textfield ">
         {{ form.sender_email|add_class:"mdl-textfield__input" }}
          <label class="mdl-textfield__label" for="Email">Email...</label>

               {% if form.sender_email.errors %}

            <div class="alert alert-danger">
                {% for error in form.sender_email.errors %}
                         {{ error }}
                    {% endfor %}

            </div>
          {% endif %}
      </div>




      <div class="mdl-textfield mdl-js-textfield ">
          {{ form.sender_text|add_class:"mdl-textfield__input"|add_class:"mdl-textfield--floating-label" }}
          <label class="mdl-textfield__label" for="note">Enter note</label>

      </div>
      {% if form.sender_text.errors %}

      <div class="alert alert-danger">
           {% for error in form.sender_text.errors %}
                        {{ error }}
               {% endfor %}
      </div>
      {% endif %}


      <p>
         <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
              Submit
          </button>
      </p>
  </form>
</div></div>
              </div>
            </div>
          </div>
        </div>

 {% endblock %}