
<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>BODALM</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "public/css/materialize.css" type="text/css"%}" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "public/css/style.css" type="text/css" rel="stylesheet"%}" media="screen,projection"/>
</head>
<body>
  <nav  style="background-color:#a64dff !important;" class="mdl-layout__header mdl-layout__header--waterfall site-header" role="navigation">
    <div class="nav-wrapper container">
      <a style="color:white" id="logo-container" href="#" class="brand-logo">BODALM</a>
      <ul class="right hide-on-med-and-down">
        <li><a style="color: white" href="#">Acasa</a></li>
        <li><a style="color: white" href="/intern">Transport intern</a></li>
        <li><a style="color: white" href="/adr">Transport ADR </a></li>
        <li><a style="color: white" href="/frigorific">Transport frigorific </a></li>
        <li><a style="color: white" href="/contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav   style="background-color:#a64dff !important;" class="mdl-navigation mdl-typography--body-1-force-preferred-font">
          <a class="mdl-navigation__link" href="/">Acasa</a>
              <a class="mdl-navigation__link" href="/intern">Transport intern</a>
              <a class="mdl-navigation__link" href="/adr">Transport ADR</a>
              <a class="mdl-navigation__link" href="/frigorific">Frigorific</a>
              <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
      </div>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!--Start Carusel-->

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static "poze/3.jpg" %}"> <!-- random image -->
        <div class="caption center-align">
          <b><b>
          <h1 style="color: #a64dff">BODALM</h1>
          </b></b>
          <h5 class="light grey-text text-lighten-3">Transport marfa</h5>
        </div>
      </li>
      <li>
        <img src="{% static "poze/9.jpg" %}"> <!-- random image -->
      </li>
      <li>
        <img src="{% static "poze/11.jpg" %}"> <!-- random image -->

      </li>
      <li>
        <img src="{% static "poze/7.jpg" %}"> <!-- random image -->
      </li>
    </ul>
  </div>

  <!--END Carusel-->

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div id="start" class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">widgets</i></h2>
            <a href="/intern"><h5  style="color: black" class="center">Transport Intern</h5></a>

            <p class="light">Transportul rutier de marfă desemnează deplasarea în spațiu a mărfurilor cu ajutorul autovehicolelor specializate . Autovehiculele au o mobilitate deosebită, nefiind legate de instalații speciale fixe cum este cazul în transportul feroviar, de pildă (linii de cale ferată, depouri, triaje etc.)</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">warning</i></h2>

            <a href="/adr" style="color: black"> <h5 class="center">Transport ADR</h5></a>

            <p class="light">Transportul marfurilor periculoase este reglementat cu scopul de a preveni, pe cât posibil, accidentele si daunele cauzate oamenilor, mediului, mijloacelor de transport sau bunurilor. Expedierea marfurilor periculoase trebuie efectuata numai dupa o clasificare si ambalare adecvate</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">filter_list</i></h2>
            <a href="/frigorific" style="color: black"> <h5 class="center">Transport Frigorific</h5></a>

            <p class="light">Transport profesional de marfuri perisabile cu temperatura controlata pentru orice destinatie.Transporturi saptamanale pentru marfuri de orice fel.

Transporturile sunt asigurate si sunt efectuate cu dube speciale izoterme frigorifice cu temperaturi pozitive sau temperaturi negative.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img   src="{% static "poze/11.jpg" %}"  alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <a href="/contact"><h4  style="color: black" class="center">Contacteaza-ne!</h4></a>

         <br><br>
          <h6 class="left-align light">
            Va stam la dispozitie pentru orice informatie
          </h6>

         <h6 class="left-align light">
           Pentru a ne contacta completati <a href="/contact">acest formular</a>
         </h6>
          <h6 class="left-align light">Preluari zilnice si livrari in maxim 48 de ore.</h6>
          <h6 class="left-align light">Marfa in siguranta pana la destinatie.</h6>
          <h6 class="left-align light">Detalii asupra locului unde se afla marfa pe traseu.</h6>
          <br><br>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img style="height: 170px" src="{% static "poze/3.jpg" %}"  alt="Unsplashed background img 3"></div>
  </div>

  <footer  style="background-color:#a64dff !important;" class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SC BODALM SRL</h5>
          <p class="white-text">
           Adresa: Com. Liebling, nr. 661, jud.Timis, Romania
          </p>
          <p class="white-text">
            Email: bodalmtrans@yahoo.com
          </p>
          <p class="white-text">
            Registrul Comertului: J35/113/2001
          </p>
          <p class="white-text">
            CUI : RO13688948
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Telefon</h5>
          <ul>
            <li><a class="white-text" href="#!"> +40723323743 </a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Cere oferta</h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="/contact">Completeaza aici</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright © 2017 Toate drepturile rezervate. Dezvoltat de
        <a style="color: whitesmoke" href="https://github.com/emanuelcovaci">Emanuel Covaci, </a>
        <a style="color: whitesmoke" href="https://github.com/SoftMandar">Rares Istoc</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "public/js/materialize.js" %}"></script>
  <script src="{% static "public/js/init.js" %}"></script>
<script>
  $(document).ready(function(){
      $('.slider').slider();
    });
</script>
  </body>
</html>
