{% extends "base_post.html" %}
{% load staticfiles %}
{% block content %}




        <!--main-->
<main class="mdl-layout__content">
    <div class="site-content">
        <div class="mdl-grid site-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
              <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Transport intern de marfa</h1>
            </div>
              <div class="mdl-card__media"><img class="article-image" src="{% static "poze/3.jpg"%}" border="0" alt="Portfolio Page"></div>

      <div class="mdl-grid site-copy">
           <div class="mdl-cell mdl-cell--12-col"><p><h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introducere</h3></p>
                <div class="mdl-cell mdl-cell--10-col mdl-card__supporting-text no-padding ">
                        <p>
                            Transportul rutier de marfă desemnează deplasarea în spațiu a mărfurilor cu ajutorul autovehicolelor specializate . Autovehiculele au o mobilitate deosebită, nefiind legate de instalații speciale fixe cum este cazul în transportul feroviar, de pildă (linii de cale ferată, depouri, triaje etc.)
                        </p>
                        <p>
                            Deoarece ele pot pătrunde în locuri unde alte mijloace de transport nu au accesibilitate, constituie o componentă indispensabilă a transporturilor multimodale. Cu ajutorul autovehiculelor se pot organiza transporturi directe de la furnizor și până la beneficiarul mărfurilor din țară.

                        </p>
                        <p>
                            BODALM este reteaua de transport marfa interna pe o distanta dorita de dumneavoastra.

                        </p>
                </div>



            </div>
           </div>
            </div>
          </div>
        </div>

 {% endblock %}