<!-- Copyright 2017-2020 Emanuel Covaci, Rares Istoc-->
<!---->
<!-- This file is part of Transport Network.-->
<!---->
<!-- Transport Network is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- Transport Network is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with Transport Network.  If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base_post.html" %}
{% load staticfiles %}
{% block content %}




        <!--main-->
<main class="mdl-layout__content">
  <center>
                  <h3 style="color: #a64dff ">BODALM</h3>
            <h5>Imagini</h5>
              </center>
              {% if not photos %}
              <center>
                              <br><br>
                        <h5>Nu exista poze in album</h5>
                          </center>
<br><br><br><br><br><br><br><br>
                          {% else %}

    <div class="site-content">
      <!-- start -->
      {% for photo in photos %}

        <div class="mdl-grid site-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp page-content">
              <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">{{ photo.image_name }}</h1>
            </div>
              <div class="mdl-card__media">
                <img class="article-image" style="max-height:500px" src="{{ photo.image_field.url }}" border="0" >
              </div>


            </div>
          </div>

           {% endfor %}
          <!-- stop -->
        </div>
        {% endif %}

 {% endblock %}
